@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: 'Interop';
  font-weight: 600;
  src: url('/fonts/Interop-SemiBold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'SUIT Variable';
  font-weight: 100 900;
  src: url('/fonts/SUIT-Variable.woff2') format('woff2-variations');
  font-display: swap;
}

@font-face {
  font-family: 'goorm-sans-code';
  font-weight: 400;
  src: url('/fonts/goorm-sans-code.woff2') format('woff2');
  font-display: swap;
}

@theme {

  --font-display: "Interop", system-ui, sans-serif;
  --font-body: "SUIT Variable", system-ui, sans-serif;
  --font-mono: "goorm-sans-code", monospace;

  --radius-lg: 12px;
  --radius-xl: 16px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-feature-settings: "cv11", "ss01";
}

pre,
code {
  font-family: var(--font-mono);
  font-size: small;
}

.prose .prose-lg {
  line-height: 1.75;

  & h1 {
    @apply text-4xl font-extrabold mt-12 mb-6;
  }

  & h2 {
    @apply text-3xl font-bold mt-10 mb-4 border-b pb-2;
  }

  & h3 {
    @apply text-2xl font-semibold mt-8 mb-4;
  }

  & p {
    @apply mb-5 text-gray-800 dark:text-gray-200;
  }

  & ul {
    @apply list-disc pl-6 mb-5;
  }

  & ol {
    @apply list-decimal pl-6 mb-5;
  }

  & li {
    @apply mb-2;
  }

  & a {
    /* @apply text-blue-600 underline hover:text-blue-800; */
  }

  & blockquote {
    @apply border-l-4 border-gray-300 pl-4 italic my-6 text-gray-600;
  }

  & img {
    @apply max-w-full h-auto rounded-lg my-8;
  }
}